@mixin HFText {
  text-align: left;
  margin-left: 80px;
  font-size: 15px;
  line-height: 18px;
  color: $HFTextColor;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
